<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.itn"/>



    <!--    <jee:jndi-lookup id="dataSource" jndi-name="java:/bpdds" />-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />

        <property name="url" value="jdbc:sqlserver://bpdev-sqlsf1.itradenetwork.com:31433;databaseName=dbStorefront;integratedSecurity=true" />

        <!--            <property name="url" value="jdbc:sqlserver://bpqa-sqlsf1.qabench.ad:31433;databaseName=dbStorefront;integratedSecurity=true" />-->

        <!--              <property name="url" value="jdbc:sqlserver://bpuat-sqlsf1.bpuat.ad:31433;databaseName=dbStorefront;integratedSecurity=true" /> -->

        <!--             <property name="url" value="jdbc:sqlserver://bpdev-sqlsf1.itradenetwork.com:31433;databaseName=dbStorefront;integratedSecurity=true" />  -->

        <property name="username" value="root" />
        <property name="password" value="root" />

    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean class="java.util.Random" />

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="jwtUtility" class="com.itn.bp.jwtutility.JwtUtility">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

</beans>
